.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/Problems.iml
.idea/vcs.xml
.idea/workspace.sync-conflict-20250514-014712-AGFMZ2K.xml
.idea/workspace.sync-conflict-20250514-014841-AGFMZ2K.xml
.idea/workspace.sync-conflict-20250514-022016-AGFMZ2K.xml
.idea/workspace.sync-conflict-20250514-084711-AGFMZ2K.xml
.idea/workspace.sync-conflict-20250514-084841-AGFMZ2K.xml
.idea/workspace.sync-conflict-20250514-092015-AGFMZ2K.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
Dynamic_Programming/solutions.py
